{% extends "Worldtech/base_navbar.html" %}

{% load static %}

{% block principal %}

<main role="main" class="inner cover">
    <div style="margin-top:40px">
        <br>
        <center><img src="{% static 'Worldtech/assets/img/iniciar-sesion.jpg' %}" alt="centered image" height="540" width="1200" style="border-radius: 2em;"> </center>

        <br>

        <br>

        <hr class="featurette-divider">
       
        <br>

        <br>

        <div class="d-flex justify-content-center">
            <div class="col col-4">
                <div style="text-align: right;">
                    <form method="POST">
        
                        {% csrf_token %}
        
                        {{form.as_p}}
        
                        <input type="submit" value="Ingresar">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}


