{% extends "Worldtech/base_navbar.html" %}

{% load static %}

{% block principal %}

<main role="main" class="inner cover">
    <div style="margin-top:40px">
        <br>
        <center><img src="{% static 'Worldtech/assets/img/sesion-cerrada.jpg' %}" alt="centered image" height="540" width="1200" style="border-radius: 2em;"> </center>

        <br>

        <br>

        <hr class="featurette-divider">
       
        <br>

        <br>
        
        <div style="text-align: center;">

            <h1> Sesion cerrada con exito </h1>
        
        </div>
    </div>
</main>

{% endblock %}