{% extends "Worldtech/base_navbar.html" %}

{% load static %}

{% block principal %}


<main role="main" class="inner cover">
    <div style="margin-top:40px">
        <br>
        <center><img src="{% static 'Worldtech/assets/img/detalle.jpg' %}" alt="centered image" height="540" width="1200" style="border-radius: 2em;"> </center>

        <br>
        <!-- <center><h1 class="cover-heading">Listas de todos los posts creados</h1></center> -->

        <br>

        <br>

        <ul>


            <li> {{articulo.id}} - {{articulo.titulo_articulo}} - {{articulo.breve_descripcion}} <br>
                
                <a href = "{% url 'actualizar-articulo' articulo.id %}">Actualizar</a>
                <a href = "{% url 'eliminar-articulo' articulo.id %}">Eliminar</a>

            </li>
        

        </ul>
    </div>

</main>


{% endblock %}

<div class="d-flex justify-content-center">
    <div class="col col-8" style="text-align: center;">
        <h1 class="mt-5">{{ post.carousel_caption_title }}</h1>
        <p><img height="256px" src="{{post.image_url}}"></p>
        <p class="lead">{{ post.description}}</p>
    </div>
  </div>