<!doctype html>
<html lang="en">

{% load static %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Proyecto Final</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'Worldtech/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'Worldtech/css/cover.css' %}" rel="stylesheet">

    <link href="{% static 'Worldtech/css/flex.css' %}" rel="stylesheet">

  </head>
  
  <body class="text-left" >

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          
          <a class="navbar-brand" href="http://127.0.0.1:8000/admin"><img src="{% static 'Worldtech/assets/img/logotipo.png' %}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

              
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">INICIO <span class="sr-only">(current)</span></a>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BLOG</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">


                  <a class="dropdown-item" href="{% url 'lista-articulos' %}">Todos los Posts</a>

                  {% if user.is_authenticated %}

                    <a class="dropdown-item" href="{% url 'crear-articulo' %}">Nuevo Post</a>
                    <a class="dropdown-item" href="{% url 'mis-articulos' %}">Mis Posts</a>
                  
                  {% endif %}
               
                </div>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENSAJES</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">


                  {% if user.is_authenticated %}

                    <a class="dropdown-item" href="{% url 'lista-mensajes' %}">Mis Mensajes</a>

                  {% endif %}

                  <a class="dropdown-item" href="{% url 'crear-mensaje' %}">Enviar Mensaje</a>

                </div>

              </li>

                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'sobre-mi' %}">SOBRE MI</a>

              </li>

              
              {% if user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link">|</a>
                </li>


                <li class="nav-item active">
                  {% if user.profile.avatar_url %}
                  <img src="{{ user.profile.avatar_url }}" height="100%" width="40px" style="border-radius: 50%;">
                  {% endif %}
                </li>

                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hola {{ user.username }}</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">

                    {% if user.profile %}  
                    
                      <a class="dropdown-item" href="{% url 'actualizar-perfil' user.profile.id %}">Actualizar Perfil</a>
                  
                    {% else %}
                  
                      <a class="dropdown-item" href="{% url 'crear-perfil' %}">Crear Perfil</a>
                  
                    {% endif %}

                    <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>

                  </div>

                </li>

                <li class="nav-item active">
                  <a class="nav-link">|</a>
                </li>
              

              {% else %}

                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'login' %}">INICIAR SESION</a>
                </li>


                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'signup' %}">REGISTRARSE</a>
                </li>

              {% endif %}


            </ul>

            <form action = "{% url 'buscar-articulo' %}" class="d-flex">
              <input class="form-control me-2" name = "criterio" type="search" style="border-radius: .5em" placeholder="Buscar Publicacion" aria-label="Search">
              <button class="btn btn-outline-success" style="border-radius: .5em" type="submit">Buscar</button>
            </form>

          </div>

        </nav>

        <div style="padding-top: 40px;">
          <center><img src="{% static 'Worldtech/assets/img/barrita.png' %}" alt="centered image" width="1200" </center>
        </div>


      </header>
      

      

      {% block principal %}
      <!-- llama en el archivo index.html las lineas de codigo que se encuentran dentro de este bloque -->
      {% endblock %}


        <br>
        <footer class="mastfoot mt-auto">
            <br>
            <div class="inner">
                
                <div class="text-right">
                    <a href="#top">Back to top</a>
                </div>
        
                <center><p>2023 - Coderhouse - <a href="https://coderhouse.com//online/python">Curso Python</a> - <a href="http://127.0.0.1:8000/admin">Ingresar al Administrador</a></p></center>
              
            </div>
          </footer>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'Worldtech/js/popper.min.js' %}"></script>
    <script src="{% static 'Worldtech/js/bootstrap.min.js' %}"></script>
  </body>
</html>