{% extends "Worldtech/base_navbar.html" %}

{% load static %}

{% block principal %}


<main role="main" class="inner cover">
    <div style="margin-top:40px">
        <br>
        <center><img src="{% static 'Worldtech/assets/img/crear.jpg' %}" alt="centered image" height="540" width="1200" style="border-radius: 2em;"> </center>

        <br>
        <!-- <center><h1 class="cover-heading">Listas de todos los posts creados</h1></center> -->

        <br>

        <br>

        <form method="post">
            {% csrf_token %}

            {{form.as_p}}
            
            <input type="submit" value="Crear">


        </form> 

    </div>
</main>

{% endblock %}