{% extends "Worldtech/base_navbar.html" %}

{% load static %}

{% block principal %}



<main role="main" class="inner cover">
    <div style="margin-top:40px">
        <br>
        <center><img src="{% static 'Worldtech/assets/img/lista-mensaje.jpg' %}" alt="centered image" height="540" width="1200" style="border-radius: 2em;"> </center>

        <br>

        <br>

        <br>

        <hr class="featurette-divider">
       
        <br>

        <h2>Mis Mensajes</h2>

        <br>
        <br>


        {% if mensajes %}
        {% for mensaje in mensajes %}
        <div class="d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4 box-shadow">
            <div class="card-body">
                
                <div class="card-text">

                    <P> Asunto: {{ mensaje.asunto }}</P>
        
                </div>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <!-- and user.id == mensaje.destinatario.id -->

                    {% if user.is_authenticated %}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'detalle-mensaje' mensaje.id %}">Detalle</a>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'eliminar-mensaje' mensaje.id %}">Eliminar</a>

                    {% endif %}
                </div>

                <small class="text-muted">
                    De: {{ mensaje.nombre }}<br>
                    Enviado el: {{ mensaje.creado_el }}
                </small>
                </div>
                


            </div>
            </div>
        </div>
        </div>
        {% endfor %}
        {% else %}

        <div class="inner cover-container">
            <div class="flexbox-container">
                <div style="border-radius: 1em; background-color: rgb(87, 89, 97); text-align: center; padding-left: 5em; padding-right: 5em; padding-top: 1.5em; padding-bottom: 2.5em;">
                    <br>
                    <h4>No hay mensajes por el momento</h4>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</main>

{% endblock %}