{% extends "Worldtech/base_navbar.html" %}

{% load static %}

{% block principal %}



<main role="main" class="inner cover">
    <div style="margin-top:40px">
        <br>
        <center><img src="{% static 'Worldtech/assets/img/detalle-mensaje.jpg' %}" alt="centered image" height="540" width="1200" style="border-radius: 2em;"> </center>

        <br>

        <br>

        <br>

        <hr class="featurette-divider">
       
        <br>

        <h2>Detalle del mensaje</h2>

        <br>
        <br>

        
        <div class="d-flex justify-content-center">
            <div class="col-md-8">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                                                
                        {% if user.is_authenticated and user.id == mensaje.destinatario.id %}
                        <div class="card-text">

                            <P> {{ mensaje.mensaje }}</P>
                
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <!-- and user.id == mensaje.destinatario.id -->

                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'eliminar-mensaje' mensaje.id %}">Eliminar</a>

                            
                        </div>

                        </div>
                        {% else %}
                        <div class="card-text">

                            <h4> No tiene permisos para ver los mensajes</h4>
                
                        </div>

                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}