{% extends "Worldtech/base_navbar.html" %}

{% load static %}

{% block principal %}



<main role="main" class="inner cover">
    <div style="margin-top:40px">
        <br>
        <center><img src="{% static 'Worldtech/assets/img/lista.jpg' %}" alt="centered image" height="540" width="1200" style="border-radius: 2em;"> </center>

        <br>
        <!-- <center><h1 class="cover-heading">Listas de todos los posts creados</h1></center> -->

        <br>

        <br>

        <!-- <div class="inner cover-container">
            <div class="flexbox-container" >
                

                
                <div style="border-radius: 1em; background-color: rgb(87, 89, 97); padding-left: 3em; padding-top: 2em; padding-right: 3em; ">

                    <ul>
                        <h4 style="text-align: center;">Lista de Articulos</h4>

                        <br>

                        {% for articulo in articulos %}

                        <li> {{articulo.id}} - {{articulo.titulo_articulo}} - {{articulo.breve_descripcion}} <br>
                            <a href = "{% url 'detalle-articulo' articulo.id %}">Detalle</a>
                            <a href = "{% url 'actualizar-articulo' articulo.id %}">Actualizar</a>
                            <a href = "{% url 'eliminar-articulo' articulo.id %}">Eliminar</a>
                    
                        </li>
                    
                        {% endfor %}

                    </ul>

                </div>

                

            </div>
        </div> -->

        <h2>Mis Mensajes</h2>

        <br>
        <br>

        
        <div class="d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4 box-shadow">
            <div class="card-body">
                <!-- <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1871a598dac%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1871a598dac%22%3E%3Crect%20width%3D%22508%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.75%22%20y%3D%22123.6%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 150px; width: 25%; display: block;"> -->
                
                {% if user.is_authenticated and user.id == mensaje.destinatario.id %}
                <div class="card-text">

                    <P> {{ mensaje.mensaje }}</P>
        
                </div>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <!-- and user.id == mensaje.destinatario.id -->

                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'eliminar-mensaje' mensaje.id %}">Eliminar</a>

                    
                </div>

                </div>
                {% else %}
                <div class="card-text">

                    <h4> No tiene permisos para ver los mensajes</h4>
        
                </div>

                {% endif %}


            </div>
            </div>
        </div>
        </div>
       


        <div class="inner cover-container">
            <div class="flexbox-container" >
                <div style="border-radius: 1em; background-color: rgb(87, 89, 97); text-align: right; padding-right: 5em; padding-top: 2.5em; padding-bottom: 2.5em;">
                    <br>
                    
                </div>
            </div>
        </div>


    </div>
</main>

{% endblock %}