/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  /*background: url(../assets/bg-masthead.jpg) no-repeat center center;*/
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 90em; 
  /* max-width: 90em; */
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  /*background-image: image();
  background: url(../assets/bg-masthead.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 1rem;
  padding-bottom: 1rem;*/
}

.masthead-brand {
  margin-bottom: 0;
  margin-top: 1em;
  /* agregue margin-top: 1em*/
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(35, 129, 216, 0.719);
} /*original border-bottom-color: rgba(214, 37, 37, 0.25);*/

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
} /* es 5rem probar con 4*/

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: right;
  }
  .nav-masthead {
    float: left;
  }/* right va abajo y left arriba*/
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}





.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #1e6ce2;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;

}


.dropdown-menu.show {
  display: block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #c2eafa;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
  
}

.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item:focus {
  color: #ffffff;
  /* color: #1b1616; */
  text-decoration: none;
  background-color: #1e6ce2; 
  /* background-color: #15c4c4; */
}

.bg-light {
    background-color: #457cb300!important;
}

.card-text {
  color: black;
}

/* fondo de inicio post */
/* .card-body {
  background-color: rgb(167, 198, 212);
} */

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  color: goldenrod;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 1.25rem;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, .5);
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}



element.style {
  height: 225px;
  width: 100%;
  display: block;
}
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(1.25rem - 1px);
  border-top-right-radius: calc(1.25rem - 1px);
}

img {
  vertical-align: middle;
  border-style: none;
}

.card-img-bottom {
  width: 100%;
  border-bottom-left-radius: calc(1.25rem - 1px);
  border-bottom-right-radius: calc(1.25rem - 1px);
}

.card-img {
  width: 100%;
  border-radius: calc(1.25rem - 1px);
}

.navbar{
  font-weight: 700;
}

/* .navbar.nav-link:hover{
  color: aqua;
  
} */

.navbar-dark .navbar-nav .nav-link.h {
  color: rgba(199, 43, 43, 0.5);
}

.nav-link:hover {
  color: rgba(32, 130, 196, 0.836)!important;
}

.nav-link:focus {
  color: rgba(32, 196, 174, 0.836)!important;
}

/* esto estaba en inspecionar en la navbar
.text-left {
  text-align: right!important;
} */

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(240, 141, 29);
  text-shadow: 0 0.05rem 0.3rem rgb(248, 96, 7);
  text-align: center;
  font-weight: 700;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgb(20, 120, 160);
  /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

*, ::after, ::before {
  box-sizing: border-box;
}